/** @format */
@import 'app1';
@import 'app2';
@import 'app3';
@import 'footer';
@import 'home';
@import 'navbar';
@import 'firstpage';
@import 'secondpage';
@import 'grid';
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
